
footer {
  text-align: center;
  padding: 10px;
  background-color: #2c2c2f;
  color: rgb(129, 133, 146);
  position: fixed;  
  bottom: 0;       
  left: 0;         
  width: 100%;      
  z-index: 1000;    
}
